simulator:
  physics_dt: 1/240
  rendering_dt: 1/240

tasks:
- type: "SingleInferenceTask"
  name: "h1_house"
  scene_asset_path: GRUtopia/assets/scenes/demo_house/demo_house.usd
  scene_scale: [0.01, 0.01, 0.01]
  env_num: 1
  offset_size: 1.0
  
  # Add CCTV objects
  objects:
  - name: "cctv_1"
    prim_path: "/World/cctv_1"
    type: "DynamicCube"
    position: [4.0, -1.0, 2.5]
    scale: [0.1, 0.1, 0.1]
    color: [0.2, 0.2, 0.2]
    sensor_params:
    - name: "camera"
      enable: true
      size: [640, 480]
      prim_path: "camera"
      viewport_visible: true
      camera_type: "Perspective"
  
  - name: "cctv_2"
    prim_path: "/World/cctv_2"
    type: "DynamicCube"
    position: [7.0, 1.0, 2.5]
    scale: [0.1, 0.1, 0.1]
    color: [0.2, 0.2, 0.2]
    sensor_params:
    - name: "camera"
      enable: true
      size: [640, 480]
      prim_path: "camera"
      viewport_visible: true
      camera_type: "Perspective"

  # Original robot config remains the same
  robots:
  - name: h1
    prim_path: "/World/h1"
    type: "HumanoidRobot"
    position: [5.58, -0.77, 1.05]
    scale: [1, 1, 1]
    controller_params:
    - name: "move_by_speed"
    - name: "joint_controller"
    - name: "move_to_point"
    - name: "move_along_path"
    - name: "rotate"
    - name: "move_with_keyboard"
    - name: "web_chat"
    sensor_params:
    - name: "camera"
      enable: true
    - name: "tp_camera"
      enable: true
